@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
:root {
  --clr-primary-dark: hsl(300, 43%, 22%);
  --clr-primary-soft: hsl(333, 80%, 67%);
  --clr-neutral-dark: hsl(303, 10%, 53%);
  --clr-neutral-light: hsl(300, 24%, 96%);
  --clr-white: hsl(0, 0%, 100%);
}

i {
  color: #c9630f;
  letter-spacing: .5em;
  line-height: 0;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Spartan', sans-serif;
  font-size: 0.9375rem;
  line-height: 1.6;
}

.main {
  padding: 2em;
  min-height: 100vh;
}

.main__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 75em) {
  .main {
    width: 100%;
    min-width: 1140px;
  }
  .main__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main__row--left-col {
    width: 35%;
    margin-right: 10em;
  }
  .main__row--right-col {
    width: 40%;
  }
}

.section-one__title {
  font-size: 2rem;
  font-weight: 700;
  color: var(--clr-primary-dark);
  text-align: center;
  line-height: 1.1;
}

@media (min-width: 37.5em) {
  .section-one__title {
    text-align: left;
    font-size: 3rem;
  }
}

.section-one p {
  text-align: center;
  color: var(--clr-neutral-dark);
  margin: .5em 0;
}

@media (min-width: 37.5em) {
  .section-one p {
    text-align: left;
  }
}

.section-one__rating {
  text-align: center;
  background-color: var(--clr-neutral-light);
}

.section-one__rating p {
  font-size: .8rem;
  font-weight: 900;
  color: var(--clr-primary-dark);
}

@media (min-width: 37.5em) {
  .section-one__rating {
    text-align: left;
  }
}

@media (min-width: 37.5em) {
  .section-one__rating:last-child {
    margin-bottom: 7em;
  }
}

.section-one__ratings--row + .section-one__ratings--row {
  margin-top: 1em;
}

.section-one__ratings--row {
  background-color: var(--clr-neutral-light);
}

@media (min-width: 37.5em) {
  .section-one__ratings--row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.section-cards__card {
  font-size: .8rem;
  font-weight: 500;
  background-color: var(--clr-primary-dark);
  color: var(--clr-white);
  margin: .8em 0;
  padding: 3em 2em;
  border-radius: 10px;
}

.section-cards__card--text {
  margin: 1.5em 0;
}

@media (min-width: 37.5em) {
  .section-cards__card {
    width: 30%;
  }
}

.section-cards__img {
  display: inline;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 2em;
}

.section-cards__card--name {
  font-weight: 900;
}

.section-cards__card--title {
  color: var(--clr-primary-soft);
}

@media (min-width: 37.5em) {
  .section-cards__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 37.5em) {
  .indent-left1 {
    margin-left: 2em;
  }
}

@media (min-width: 37.5em) {
  .indent-left2 {
    margin-left: 4em;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=main.css.map */